.footer {
  background-color: pink;
  height: 10vh;
  display: flex;
}

.headline {
  font-size: 3rem;
  color: red;
}

.grid, .projects > ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

.projects > ul > li > figure {
  max-height: 220px;
  overflow: hidden;
  background-color: skyblue;
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
  position: relative;
}

.projects > ul > li > figure > figcaption {
  position: absolute;
  bottom: 0;
  background-color: rgba(0,0,0,.7);
  width: 100%;
}

.projects > ul > li > figure > figcaption > h3 {
  color: white;
  padding: .75rem;
  font-size: 1.25rem;
}