.navWrap {
  background-color: gray;
  height: 10vh;
}

.menuLinks {
 display: flex;
}

.menuLinks li {
  padding: .8rem;
  justify-content: right;
  
}

.menuLinks li a {
  color: blue;
  list-style-type: none;
}