.navWrap {
  background-color: gray;
  height: 10vh;
}

.menuLinks {
 display: flex;
 justify-content: flex-end;
 gap: 1.5rem;
}

.menuItem {
  
}

.menuLinks li a {
  color: blue;
  list-style-type: none;
}